<div class="alert alert-success" style="width: 100%;">
  <div class="container">
    <div class="alert-icon">
      <i class="material-icons">stars</i>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"><i class="material-icons">clear</i></span>
    </button>
    <strong>Update:</strong> HackNTX is now a one-day event, Saturday, December 1st. Read more about it on our <a href="/blog/2018/11/26/one-day-only-a-story-of-logistics"><strong>blog</strong></a>!
  </div>
</div>