<footer class="footer footer-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="/assets/img/hackntx.png" alt="Hack NTX" class="img-fluid">
      </div>
      <div class="col-md-3">
        <h4>About TechMill</h4>
        <p>TechMill is a registered 501(c)(3) nonprofit whose mission is to educate and support the local startup and technology community through events, networking, and educational workshops.</p>
      </div>
      <div class="col-md-3">
        <h4>Contact / Venue</h4>
        <p>
          Email: info@techmill.co
          @techmilldenton

          <address>
            Stoke Coworking
            608 E. Hickory, Ste. 128
            Denton, Texas 76205
          </address>
        </p>
      </div>
      <div class="col-md-3">
        <h4>FAQ</h4>
        <ul>
          <li>[more info soon]</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
    <nav class="float-left">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="/conduct">Code of Conduct</a></li>
      </ul>
    </nav>
    <div class="copyright float-right">&copy;2018 TechMill Denton</div>
  </div>
  </div>
  </div>
</footer>