<footer class="footer footer-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <img src="/assets/img/hackntx.png" alt="Hack NTX" class="img-fluid">
      </div>
      <div class="col-md-3">
        <h4>About TechMill</h4>
        <p>TechMill is a registered 501(c)(3) nonprofit whose mission is to educate and support the local startup and technology community through events, networking, and educational workshops.</p>
      </div>
      <div class="col-md-3">
        <h4>Contact / Venue</h4>
        <p>
          Email: <a href="mailto:info@techmill.co">info@techmill.co</a><br>
          <a href="https://twitter.com/techmilldenton" title="TechMill on Twitter">@techmilldenton</a><br>
          <br>
          <address>
            Stoke Coworking<br>
            608 E. Hickory, Ste. 128<br>
            Denton, Texas 76205
          </address>
        </p>
      </div>
      <div id="mc_embed_signup" class="col-md-3">
        <h5>Subscribe to Newsletter</h5>
        <p>
          Join our newsletter and get event updates. We hate spam too, so no worries about this.
        </p>
        <form class="form form-newsletter" action="https://techmill.us8.list-manage.com/subscribe/post?u=1653492a9dbf5e49c27ed87e1&amp;id=4493265655" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
          <div class="form-group bmd-form-group">
              <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Your Email..." required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1653492a9dbf5e49c27ed87e1_4493265655" tabindex="-1" value="" class="form-control"></div>
          </div>
          <button type="button" class="btn btn-primary btn-just-icon" name="button">
            <i class="material-icons">mail</i>
          </button>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <nav class="float-left">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="/conduct">Code of Conduct</a></li>
          </ul>
        </nav>
        <div class="copyright float-right">&copy;2018 TechMill Denton</div>
      </div>
    </div>
  </div>
</footer>