  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/"><img src="/assets/img/hackntx.png" alt="Hack NTX" class="img-fluid"> {{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> Components
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="/#" class="dropdown-item">
                <i class="material-icons">layers</i> All Components
              </a>
              <a href="/#" class="dropdown-item">
                <i class="material-icons">content_paste</i> Documentation
              </a>
            </div>
          </li> -->

          {%- for my_page in site.data.navigation.toc -%}
            {%- assign target = my_page.target | default: "_self" -%}
            {%- if my_page.children -%}
              <li class="dropdown nav-item">
                  <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                      {{ my_page.title | escape }}
                  </a>
                  <div class="dropdown-menu">
                      {%- for child in my_page.children -%}
                      {%- assign target = child.target | default: "_self" -%}
                      <a href="{{ child.url }}" class="dropdown-item {{ child.class }}" target="{{ target }}">
                          {{ child.title }}
                      </a>
                      {%- endfor -%}
                  </div>
              </li>
            {%- elsif my_page.title -%}
              <li class="nav-item">
                <a class="nav-link {{ my_page.class }}" href="{{ my_page.url | relative_url }}" target="{{ target }}">{{ my_page.title | escape }}</a>
              </li>
            {%- endif -%}
          {%- endfor -%}

          {%- if site.twitter_username -%}
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/{{site.twitter_username}}" target="_blank" data-original-title="Follow us on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          {%- endif -%}
          {%- if site.facebook_username -%}
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" data-original-title="Like us on Facebook">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          {%- endif -%}
          {%- if site.instagram_username -%}
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank" data-original-title="Follow us on Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  </nav>
