<!-- Google Structured Data -->
<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Event",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "description": "{{ site.description }}",
  "startDate": "2018-11-30T18:30",
  "endDate": "2018-12-01T20:00",
  "location": {
    "@type": "Place",
    "name": "Stoke Coworking",
    "sameAs": "http://stokedenton.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "608 E. Hickory #128",
      "addressLocality": "Denton",
      "addressRegion": "Texas",
      "postalCode": "76205",
      "addressCountry": "USA"
    }
  },
  "offers": {
    "@type": "Offer",
    "description": "Participant",
    "url": "https://www.eventbrite.com/e/hack-denton-tickets-50109987321",
    "price": "15.00",
    "priceCurrency": "USD",
    "availability": "http://schema.org/InStock",
    "validFrom": "09/10/2018"
    "image": "/assets/img/og.jpg",
  }
}
 </script>