{%- assign img_path = "/assets/img/bg9.jpg" -%}
{%- if page.img -%}
{% assign img_path = page.img %}
{%- endif -%}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{{ img_path | prepend: site.baseurl }}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title">{{ page.title }}</h1>
                {%- if page.description -%}
                <h4>{{ page.description }}</h4>
                {%- endif -%}
                {%- if page.is_post -%}
                <div class="row post-info mt-5">
                    <div class="col-md-6 text-right">
                        {%- include addthis.html -%}
                    </div>
                    <div class="col-md-6 text-left">
                        {% capture words %}
                          {{ page.content | number_of_words | minus: 250 }}
                        {% endcapture %}
                        {% unless words contains "-" %}
                          <span class="btn btn-sm btn-link text-white"><i class="fa fa-clock-o pr-1"></i> {{ words | plus: 250 | divided_by: 180 | append: " minute read" }}</span>
                        {% endunless %}
                    </div>
                </div>
                {%- endif -%}
            </div>
        </div>
    </div>
</div>