{%- assign img_path = "/assets/img/bg9.jpg" -%}
{%- if page.img -%}
	{% assign img_path = page.img %}
{%- endif -%}

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{{ img_path | prepend: site.baseurl }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">{{ page.title }}</h1>
                    {%- if page.description -%}
                        <h4>{{ page.description }}</h4>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>