<!--   Core JS Files   -->
<script src="{{ "/assets/js/core/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/core/popper.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap-material-design.js" | prepend: site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js"></script>
<!--  Google Maps Plugin  -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
<script src="{{ "/assets/js/plugins/moment.min.js" | prepend: site.baseurl }}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{{ "/assets/js/plugins/bootstrap-datetimepicker.min.js" | prepend: site.baseurl }}""></script>
<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ "/assets/js/plugins/nouislider.min.js" | prepend: site.baseurl }}"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{{ "/assets/js/plugins/bootstrap-selectpicker.js" | prepend: site.baseurl }}""></script>
<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="{{ "/assets/js/plugins/bootstrap-tagsinput.js" | prepend: site.baseurl }}"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{{ "/assets/js/plugins/jasny-bootstrap.min.js" | prepend: site.baseurl }}""></script>
<!--	Plugin for Small Gallery in Product Page -->
<script src="{{ "/assets/js/plugins/jquery.flexisel.js" | prepend: site.baseurl }}"></script>
<!-- Plugins for presentation and navigation  -->
<script src="{{ "/assets/demo/js/modernizr.js" | prepend: site.baseurl }}""></script>
<script src="{{ "/assets/demo/js/vertical-nav.js" | prepend: site.baseurl }}"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="{{ "/assets/js/material-kit.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/demo/js/material-kit-demo.js" | prepend: site.baseurl }}"></script>
<!-- Custom -->
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>