<!--   Core JS Files   -->
<script src="{{ "/assets/js/core/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/core/popper.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/bootstrap-material-design.js" | prepend: site.baseurl }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js"></script>
<!--	Plugin for Small Gallery in Product Page -->
<script src="{{ "/assets/js/plugins/jquery.flexisel.js" | prepend: site.baseurl }}"></script>
<!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
<script src="{{ "/assets/js/material-kit.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/demo/js/material-kit-demo.js" | prepend: site.baseurl }}"></script>
<!-- Custom -->
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>