<!--   Core JS Files   -->
<script src="{{ "/assets/js/core/jquery.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/core/popper.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/core/bootstrap-material-design.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/assets/js/plugins/moment.min.js" | prepend: site.baseurl }}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{{ "/assets/js/plugins/bootstrap-datetimepicker.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{{ "/assets/js/plugins/nouislider.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="{{ "/assets/js/material-kit.js?v=2.0.3" | prepend: site.baseurl }}" type="text/javascript"></script>
