// Footer
.footer-dark {
	background-color: #333;
	color: white;
	margin-top: 2em;

	hr {
		background-color: #dedede;
	}
	a {
		color: white;
		text-decoration: underline;
	}

	.form-control:focus {
		color: white;
	}
}

.navbar {
	.navbar-brand {
		max-width: 40px;
	}
}

.not-front .main {
	padding: 1em 0;
}

.navbar-nav .nav-item .nav-link.btn-success {
	color: white;
}

.section {
	padding: 40px 0;
}

// Utility classes
.vertical-align {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bot-left {
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		bottom: -3px;
		left: -3px;

	}
	&:before {
		top: -3px;
		width: 3px;
		background-image: -webkit-gradient(linear, 0 100%, 0 0, from($accent), to(#37E091));
		background-image: -webkit-linear-gradient(#37E091, $accent);
		background-image: -moz-linear-gradient(#37E091, $accent);
		background-image: -o-linear-gradient(#37E091, $accent);
	}
	&:after {
		right: -3px;
		height: 3px;
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#37E091), to($accent));
		background-image: -webkit-linear-gradient(left, #37E091, $accent);
		background-image: -moz-linear-gradient(left, #37E091, $accent);
		background-image: -o-linear-gradient(left, #37E091, $accent);
	}
}
.bot-right {
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		bottom: -3px;
		right: -3px;

	}
	&:before {
		top: -3px;
		width: 3px;
		background-image: -webkit-gradient(linear, 0 100%, 0 0, from($accent), to(#37E091));
		background-image: -webkit-linear-gradient(#37E091, $accent);
		background-image: -moz-linear-gradient(#37E091, $accent);
		background-image: -o-linear-gradient(#37E091, $accent);
	}
	&:after {
		left: -3px;
		height: 3px;
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#37E091), to($accent));
		background-image: -webkit-linear-gradient(left, #37E091, $accent);
		background-image: -moz-linear-gradient(left, #37E091, $accent);
		background-image: -o-linear-gradient(left, #37E091, $accent);
	}
}

@mixin sponsor-grid-tier($width) {
	display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

	.tier-item {
    margin: 1.8rem;
    background-color: white;
    max-width: $width;
    border-radius: 6px;
    padding: 0.5rem;
		transition: 0.3s ease-in-out;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}

	.tier-item:hover {
		transform: translateY(-10px);
	}

	img {
		width: 100%;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}


	h5 {
		background-color: white;
		display: block;
		text-align: center;
		font-weight: 600;
		margin: 0;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
}


.sponsors {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

	.smart-city--sponsor-grid { @include sponsor-grid-tier(320px); }
	.city-planner--sponsor-grid { @include sponsor-grid-tier(160px); }
  .civic-duty--sponsor-grid { @include sponsor-grid-tier(140px); }
  .community--sponsor-grid { @include sponsor-grid-tier(120px); }

}

#off-canvas {
	display: none;
	visibility: hidden;
}
