// Footer
.footer-dark {
	background-color: #333;
	color: white;
	margin-top: 2em;

	hr {
		background-color: #dedede;
	}
	a {
		color: white;
		text-decoration: underline;
	}

	.form-control:focus {
		color: white;
	}
}

.navbar {
	.navbar-brand {
		max-width: 40px;
	}
}

.main {
	padding: 1em 0;
}

.navbar-nav .nav-item .nav-link.btn-success {
	color: white;
}

.section {
	padding: 40px 0;
}

// Utility classes
.vertical-align {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bot-left {
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		bottom: -3px;
		left: -3px;

	}
	&:before {
		top: -3px;
		width: 3px;
		background-image: -webkit-gradient(linear, 0 100%, 0 0, from($accent), to(#37E091));
		background-image: -webkit-linear-gradient(#37E091, $accent);
		background-image: -moz-linear-gradient(#37E091, $accent);
		background-image: -o-linear-gradient(#37E091, $accent);
	}
	&:after {
		right: -3px;
		height: 3px;
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#37E091), to($accent));
		background-image: -webkit-linear-gradient(left, #37E091, $accent);
		background-image: -moz-linear-gradient(left, #37E091, $accent);
		background-image: -o-linear-gradient(left, #37E091, $accent);
	}
}
.bot-right {
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		bottom: -3px;
		right: -3px;

	}
	&:before {
		top: -3px;
		width: 3px;
		background-image: -webkit-gradient(linear, 0 100%, 0 0, from($accent), to(#37E091));
		background-image: -webkit-linear-gradient(#37E091, $accent);
		background-image: -moz-linear-gradient(#37E091, $accent);
		background-image: -o-linear-gradient(#37E091, $accent);
	}
	&:after {
		left: -3px;
		height: 3px;
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#37E091), to($accent));
		background-image: -webkit-linear-gradient(left, #37E091, $accent);
		background-image: -moz-linear-gradient(left, #37E091, $accent);
		background-image: -o-linear-gradient(left, #37E091, $accent);
	}
}