// Footer
.footer-dark {
	background-color: #333;
	color: white;
	margin-top: 2em;

	hr {
		background-color: #dedede;
	}
	a {
		color: white;
		text-decoration: underline;
	}

	.form-control:focus {
		color: white;
	}
	.error-page & {
		margin-top: 0;
	}
}

.lead {
	line-height: 2rem;
}

.navbar {
	.navbar-brand {
		max-width: 40px;
	}
}

.not-front .main {
	padding: 1em;
}
.main-raised {
	margin: -60px 6em 0px;
	.container {
		padding-right: 1.5em;
		padding-left: 1.5em;
	}
}

.form-group.select {
	position: relative;
	display: inline-block;
	&::after {
		right: 5px;
		top: 14px;
		font-size: 25px;
		position: absolute;
		font-family: 'Material Icons';
		font-style: normal;
		font-weight: 400;
		content: "\e5c5";
		pointer-events: none;
		color: #fff;
	}
}

#challenge-ideas {
	.card {
		.card-category {
			text-transform: capitalize;
		}
	}
	// .card, .card-size {
	// 	width: 33.33333%;
	// }
}

.navbar-nav .nav-item .nav-link.btn-success {
	color: white;
}

.section {
	padding: 40px 0;
}

// Utility classes
@mixin vertical-align {
	display: flex;
	align-items: center;
	justify-content: center;
}

.vertical-align {
	@include vertical-align();
}

.vertical-align-column {
	@include vertical-align();
	flex-direction: column;
}

.bot-left {
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		bottom: -3px;
		left: -3px;

	}
	&:before {
		top: -3px;
		width: 3px;
		background-image: -webkit-gradient(linear, 0 100%, 0 0, from($accent), to(#37E091));
		background-image: -webkit-linear-gradient(#37E091, $accent);
		background-image: -moz-linear-gradient(#37E091, $accent);
		background-image: -o-linear-gradient(#37E091, $accent);
	}
	&:after {
		right: -3px;
		height: 3px;
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#37E091), to($accent));
		background-image: -webkit-linear-gradient(left, #37E091, $accent);
		background-image: -moz-linear-gradient(left, #37E091, $accent);
		background-image: -o-linear-gradient(left, #37E091, $accent);
	}
}
.bot-right {
	position: relative;
	&:before, &:after {
		content: "";
		position: absolute;
		bottom: -3px;
		right: -3px;

	}
	&:before {
		top: -3px;
		width: 3px;
		background-image: -webkit-gradient(linear, 0 100%, 0 0, from($accent), to(#37E091));
		background-image: -webkit-linear-gradient(#37E091, $accent);
		background-image: -moz-linear-gradient(#37E091, $accent);
		background-image: -o-linear-gradient(#37E091, $accent);
	}
	&:after {
		left: -3px;
		height: 3px;
		background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#37E091), to($accent));
		background-image: -webkit-linear-gradient(left, #37E091, $accent);
		background-image: -moz-linear-gradient(left, #37E091, $accent);
		background-image: -o-linear-gradient(left, #37E091, $accent);
	}
}

@mixin sponsor-grid-tier($width) {
	.tier-item {
		max-width: $width;
	}
}

.sponsors {
	text-align: center;

	.tier {
		padding: 1rem;
		color: white;
		font-weight: 500;
		&__smart-city {
			background-color: #37E291;
		}
		&__city-planner {
			background-color: #34B999;
		}
		&__civic-duties {
			background-color: #317DA7;
		}
		&__community {
			background-color: #304DB3;
		}
	}

	.sponsor {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		&__smart-city {
			@include sponsor-grid-tier(320px);
		}
		&__city-planner {
			@include sponsor-grid-tier(240px);
		}
		&__civic-duties {
			@include sponsor-grid-tier(140px);
		}
		&__community {
			@include sponsor-grid-tier(120px);
		}
	}

	.tier-item {
		margin: 1.8rem;
		background-color: white;
		border-radius: 6px;
		padding: 0.5rem;
		max-width: 20%;
		.sponsor-bottom {
			margin-top: 5px;
			padding-left: 5px;
			padding-right: 5px;
			display: flex;
			justify-content: center;
			.sponsor-links {
				display: flex;
				justify-content: space-evenly;
				width: 120px;
			}
		}
	}

	.sponsor-logo {
		min-height: 110px;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 100%;
			border-radius: 6px;
		}
	}

}

.gmap-embed {
	position: relative;
	padding-bottom: 58%; // 600x350
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#resources {
	.card-wrapper > .card {
		.card-body, .card-footer {
			padding: 10px;
		}
	}
	.bootstrap-tagsinput .tag {
		&:hover {
			padding-right: 8px;
		}
	}
}

@media all and (max-width: 768px) {
	.page-header {
		padding-top: 208px;
	}
}

.no-gutter {
	padding-left: 0;
	padding-right: 0;
}
.no-gutter-left {
	padding-left: 0;
}
.no-gutter-right {
	padding-right: 0;
}