// Footer
.footer-dark {
	background-color: #333;
	color: white;
	margin-top: 2em;

	hr {
		background-color: #dedede;
	}
	a {
		color: white;
		text-decoration: underline;
	}
}

.navbar {
	.navbar-brand {
		max-width: 40px;
	}
}

.main {
	padding: 1em 0;
}

.navbar-nav .nav-item .nav-link.btn-success {
	color: white;
}

.section {
	padding: 40px 0;
}